* , *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

p, h1 , h2, h3, h4, h5, h6 {
  margin: 0;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  max-width: 100%;
}

.justify-content-spase-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.header {
  padding: 40px 0;
  width: 100%;
  background-color: #4ABCF1;
  margin-bottom: 0;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-nav {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.header-nav-link + .header-nav-link {
  margin-left: 47px;
}

.header-btn {
  width: 140px;
  height: 56px;
  background-color: #fff;
  border-radius: 28px;
  margin-left: 47px;
  color: #24303E;
  font-weight: 700;
  font-family: 'Fraunces', serif;
  font-size: 15px;
  line-height: 25px;
}

.header-btn:hover {
  background-color: #77CDF5;
  color: #fff
}

.creatives {
  width: 100%;
  background: url(../img/heder-bcg-img.png) no-repeat;
  background-size: 100% 100%;
  min-height: 790px;
}

.creatives-info {
 padding-top: 116px;
}

.creatives-info-title {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 56px;
  line-height: 69px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.creative-info-sign {
  padding-top: 150px;
  text-align: center;
}

.transform-brand {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.container-for-brand {
  max-width: 600px;
  margin-left:  150px;
}

.transform-brand-info .transform-brand-info-title {
  max-width: 445px;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  margin-top: 200px;
  font-size: 40px;
  line-height: 49.5px;
  text-align: center;
  margin-bottom: 32px;
  color: #24303E;
}

.transform-brand-info-text {
  font-family: 'Barlow', sans-serif;
  color: #808397;
  max-width: 445px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
}

.transform-brand-info-link {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 15px;line-height: 25px;
  margin-left: 5px;
  border-bottom: 4px solid #FAD400;
}

.transform-brand-img-info {
  margin-left: 60px;
}

.stand-out-to {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.stand-out-img-info {
  margin-top: 10px;
  width: 800px;
}

.stand-out-to-title {
  max-width: 445px;
  font-weight: 900;
  font-family: 'Fraunces', serif;
  margin-top: 200px;
  font-size: 40px;
  line-height: 49.5px;
  text-align: center;
  margin-bottom: 32px;
  color: #24303E;
  margin-left: 200px;
}

.stand-out-to-text {
  font-family: 'Barlow', sans-serif;
  color: #808397;
  max-width: 445px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
  margin-left: 200px;
}

.stend-out-to-link {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 15px;line-height: 25px;
  margin-left: 5px;
  border-bottom: 4px solid #FE7766;
  margin-left: 200px;
}
/*
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */
